# Rules of choosing a good password
In this notebook, we will go through the rules in NIST Special Publication 800-63B which details what checks a verifier (what the NIST calls a second party responsible for storing and verifying passwords) should perform to make sure users don't pick bad passwords. We will go through the passwords of users from a fictional company and use R to flag the users with bad passwords. 

The NIST guidelines are:

         1. Verifiers SHALL require subscriber-chosen memorized secrets to be at least 8 characters in length
         2. Verifiers SHALL compare the prospective secrets against a list that contains values known to be commonly-used, expected, or compromised.
           a. Passwords obtained from previous breach corpuses.
           b. Dictionary words.
           c. Repetitive or sequential characters (e.g. ‘aaaaaa’, ‘1234abcd’).
           d. Context-specific words, such as the name of the service, the username, and derivatives thereof.

# Importing the tidyverse library

In [74]:
library(tidyverse)

# Loading the data and examining it

In [60]:
# Loading in datasets/users.csv 
users <-read_csv("datasets/users.csv")


# Counting how many users we've got
count(users)

# Taking a look at the 12 first users

head(users,12)

Parsed with column specification:
cols(
  id = col_double(),
  user_name = col_character(),
  password = col_character()
)

  n
1 982

   id user_name        password
1   1 vance.jennings   joobheco
2   2 consuelo.eaton   0869347314
3   3 mitchel.perkins  fabypotter
4   4 odessa.vaughan   aharney88
5   5 araceli.wilder   acecdn3000
6   6 shawn.harrington 5278049
7   7 evelyn.gay       master
8   8 noreen.hale      murphy
9   9 gladys.ward      lwsves2
10 10 brant.zimmerman  1190KAREN5572497
11 11 leanna.abbott    aivlys24
12 12 milford.hubbard  hubbard

# Checking the length of passwords

According to NIST guidelines, passwords should not be shorter than 8 characters in length. We will now flag users with short passwords.

In [62]:
# Calculating the lengths of users' passwords
users <- users %>% 
         mutate(length = nchar(password))


# Flagging the users with too short passwords

users <- users %>% 
         mutate(too_short = if_else(length <8, TRUE, FALSE))

# Counting the number of users with too short passwords

users %>% count(too_short == TRUE)

# Taking a look at the 12 first rows

head(users, 12)

  too_short == TRUE n
1 FALSE             606
2  TRUE             376

   id user_name        password         length too_short
1   1 vance.jennings   joobheco          8     FALSE
2   2 consuelo.eaton   0869347314       10     FALSE
3   3 mitchel.perkins  fabypotter       10     FALSE
4   4 odessa.vaughan   aharney88         9     FALSE
5   5 araceli.wilder   acecdn3000       10     FALSE
6   6 shawn.harrington 5278049           7      TRUE
7   7 evelyn.gay       master            6      TRUE
8   8 noreen.hale      murphy            6      TRUE
9   9 gladys.ward      lwsves2           7      TRUE
10 10 brant.zimmerman  1190KAREN5572497 16     FALSE
11 11 leanna.abbott    aivlys24          8     FALSE
12 12 milford.hubbard  hubbard           7      TRUE

# Commonly used passwords
Already this simple rule flagged a couple of offenders among the first 12 users. Next we will check passwords obtained from previous breach corpuses, that is, websites where hackers have leaked all the users' passwords. As many websites don't follow the NIST guidelines and encrypt passwords there now exist large lists of the most popular passwords. Let's start by loading in the 10,000 most common passwords which taken from here.

In [75]:
# Reading in the top 10000 passwords
common_passwords <- read_tsv("datasets/10_million_password_list_top_10000.txt", col_names = FALSE)

# Taking a look at the top 100
head(common_passwords, 100)

Parsed with column specification:
cols(
  X1 = col_character()
)

    X1
1   123456
2   password
3   12345678
4   qwerty
5   123456789
6   12345
7   1234
8   111111
9   1234567
10  dragon
11  123123
12  baseball
13  abc123
14  football
15  monkey
16  letmein
17  696969
18  shadow
19  master
20  666666
21  qwertyuiop
22  123321
23  mustang
24  1234567890
25  michael
26  654321
27  pussy
28  superman
29  1qaz2wsx
30  7777777
⋮   ⋮
71  11111111
72  131313
73  freedom
74  777777
75  pass
76  fuck
77  maggie
78  159753
79  aaaaaa
80  ginger
81  princess
82  joshua
83  cheese
84  amanda
85  summer
86  love
87  ashley
88  6969
89  nicole
90  chelsea
91  biteme
92  matthew
93  access
94  yankees
95  987654321
96  dallas
97  austin
98  thunder
99  taylor
100 matrix

# Passwords should not be common passwords

Let's flag all the passwords in our user database that are among the top 10,000 used passwords.

In [68]:
# Flagging the users with passwords that are common passwords

users <- users %>%
         mutate(common_password = password %in% common_passwords$X1)
# Counting the number of users using common passwords

users %>%count(common_password)

# Taking a look at the 12 first rows
head(users,12)

  common_password n
1 FALSE           853
2  TRUE           129

   id user_name        password         length too_short common_password
1   1 vance.jennings   joobheco          8     FALSE     FALSE
2   2 consuelo.eaton   0869347314       10     FALSE     FALSE
3   3 mitchel.perkins  fabypotter       10     FALSE     FALSE
4   4 odessa.vaughan   aharney88         9     FALSE     FALSE
5   5 araceli.wilder   acecdn3000       10     FALSE     FALSE
6   6 shawn.harrington 5278049           7      TRUE     FALSE
7   7 evelyn.gay       master            6      TRUE      TRUE
8   8 noreen.hale      murphy            6      TRUE      TRUE
9   9 gladys.ward      lwsves2           7      TRUE     FALSE
10 10 brant.zimmerman  1190KAREN5572497 16     FALSE     FALSE
11 11 leanna.abbott    aivlys24          8     FALSE     FALSE
12 12 milford.hubbard  hubbard           7      TRUE     FALSE

# Passwords should not be common words
It turns out many of our users use common passwords, and of the first 12 users there are already two. However, as most common passwords also tend to be short, they were already flagged as being too short. 
Let's check our users' passwords against the top 10,000 English words from Google's Trillion Word Corpus.

In [69]:
# Reading in a list of the 10000 most common words
words <- read_tsv("datasets/google-10000-english.txt", col_name = FALSE)


# Flagging the users with passwords that are common words
users<- users %>% 
         mutate(common_word = password %in% words$X1)

                      

# Counting the number of users using common words as passwords
users %>% count(common_word)

# Taking a look at the 12 first rows
head(users,12)

Parsed with column specification:
cols(
  X1 = col_character()
)

  common_word n
1 FALSE       846
2  TRUE       136

   id user_name        password         length too_short common_password
1   1 vance.jennings   joobheco          8     FALSE     FALSE
2   2 consuelo.eaton   0869347314       10     FALSE     FALSE
3   3 mitchel.perkins  fabypotter       10     FALSE     FALSE
4   4 odessa.vaughan   aharney88         9     FALSE     FALSE
5   5 araceli.wilder   acecdn3000       10     FALSE     FALSE
6   6 shawn.harrington 5278049           7      TRUE     FALSE
7   7 evelyn.gay       master            6      TRUE      TRUE
8   8 noreen.hale      murphy            6      TRUE      TRUE
9   9 gladys.ward      lwsves2           7      TRUE     FALSE
10 10 brant.zimmerman  1190KAREN5572497 16     FALSE     FALSE
11 11 leanna.abbott    aivlys24          8     FALSE     FALSE
12 12 milford.hubbard  hubbard           7      TRUE     FALSE
   common_word
1  FALSE
2  FALSE
3  FALSE
4  FALSE
5  FALSE
6  FALSE
7   TRUE
8   TRUE
9  FALSE
10 FALSE
11 FALSE
12 FALSE

# Passwords should not be name
Our users' usernames consist of their first names and last names separated by a dot. Let's flag passwords that are the same as either a user's first or last name

In [70]:
# Extracting first and last names into their own columns
users <- users %>%
         mutate(user_name2split = user_name)
users <- users %>% 
       separate(user_name2split, c("first_name","second_name"))


# Flagging the users with passwords that matches their names

users <- users %>% 
        mutate(uses_name = str_detect(password, first_name)  | str_detect(password, second_name))


# Counting the number of users using names as passwords
users %>% count(uses_name)

# Taking a look at the 12 first rows
head(users,12)

  uses_name n
1 FALSE     932
2  TRUE      50

   id user_name        password         length too_short common_password
1   1 vance.jennings   joobheco          8     FALSE     FALSE
2   2 consuelo.eaton   0869347314       10     FALSE     FALSE
3   3 mitchel.perkins  fabypotter       10     FALSE     FALSE
4   4 odessa.vaughan   aharney88         9     FALSE     FALSE
5   5 araceli.wilder   acecdn3000       10     FALSE     FALSE
6   6 shawn.harrington 5278049           7      TRUE     FALSE
7   7 evelyn.gay       master            6      TRUE      TRUE
8   8 noreen.hale      murphy            6      TRUE      TRUE
9   9 gladys.ward      lwsves2           7      TRUE     FALSE
10 10 brant.zimmerman  1190KAREN5572497 16     FALSE     FALSE
11 11 leanna.abbott    aivlys24          8     FALSE     FALSE
12 12 milford.hubbard  hubbard           7      TRUE     FALSE
   common_word first_name second_name uses_name
1  FALSE       vance      jennings    FALSE
2  FALSE       consuelo   eaton       FALSE
3  FALSE       mitchel    perkins     FALSE
4  FALSE       odessa     vaughan     FALSE
5  FALSE       araceli    wilder      FALSE
6  FALSE       shawn      harrington  FALSE
7   TRUE       evelyn     gay         FALSE
8   TRUE       noreen     hale        FALSE
9  FALSE       gladys     ward        FALSE
10 FALSE       brant      zimmerman   FALSE
11 FALSE       leanna     abbott      FALSE
12 FALSE       milford    hubbard      TRUE

# Passwords should not be repititive
To check for repetitiveness can be arbitrarily complex, but here we're only going to do something simple. We're going to flag all passwords that contain 4 or more repeated characters.

In [72]:
# Splitting the passwords into vectors of single characters
split_passwords <- strsplit(as.character(users$password), "")

# Picking out the max number of repeat characters for each password

users$max_repeats <- sapply(split_passwords, function(split_password) {
    x <- split_password
    repeats<- character(length(x))
    for (i in 1:length(x)){ 
    repeats[i]<-sum(str_count(x, fixed(x[i])))
    }
   max_repeats <- max(repeats)
   return(max_repeats)
})

# Flagging the passwords with >= 4 repeats
users<- users %>% 
        mutate(too_many_repeats = if_else(max_repeats >=4, TRUE, FALSE))

# Taking a look at the users with too many repeats
users %>% filter(too_many_repeats)

   id  user_name         password               length too_short
1   39 gus.padilla       wwewwf1                 7      TRUE
2   89 ira.cortez        mmommy22                8     FALSE
3  147 patti.dixon       555555                  6      TRUE
4  181 pierre.hooper     10101971                8     FALSE
5  193 trinidad.austin   012227257               9     FALSE
6  200 tara.mckenzie     eddiestoocool          13     FALSE
7  286 lee.roman         alamaage678            11     FALSE
8  329 elma.campos       ddpdtd3nii             10     FALSE
9  365 emery.ruiz        888278                  6      TRUE
10 397 suzanne.nash      naivanayluismioyubona  21     FALSE
11 405 staci.castaneda   shannonjones           12     FALSE
12 432 gilbert.maynard   08010270855            11     FALSE
13 541 wilford.valencia  woodbook53             10     FALSE
14 543 owen.flores       independence           12     FALSE
15 566 paulette.benton   weeman=weeman          13     FALSE
16 571 neva.conway       lanishapayne@yahoo.com 22     FALSE
17 573 cornelia.bradley  555555                  6      TRUE
18 594 gus.macdonald     4555995                 7      TRUE
19 636 mattie.burris     jeefrylee               9     FALSE
20 645 essie.lopez       11111                   5      TRUE
21 765 morton.pearson    2709800020357          13     FALSE
22 772 jolene.henry      96936616                8     FALSE
23 777 lavonne.dunlap    dmmc190410198719       16     FALSE
24 799 charley.key       888888                  6      TRUE
25 808 thurman.osborne   rinnnng0                8     FALSE
26 813 napoleon.gonzalez 014124161               9     FALSE
27 840 margaret.garrison 5387376555             10     FALSE
28 867 lilian.gordon     josue1991101318        15     FALSE
29 870 elisa.campbell    k06050605               9     FALSE
30 928 roberto.torres    2277272                 7      TRUE
31 942 mitch.ferguson    aaaaaa                  6      TRUE
   common_password common_word first_name second_name uses_name max_repeats
1  FALSE           FALSE       gus        padilla     FALSE     4
2  FALSE           FALSE       ira        cortez      FALSE     4
3   TRUE           FALSE       patti      dixon       FALSE     6
4  FALSE           FALSE       pierre     hooper      FALSE     4
5  FALSE           FALSE       trinidad   austin      FALSE     4
6  FALSE           FALSE       tara       mckenzie    FALSE     4
7  FALSE           FALSE       lee        roman       FALSE     4
8  FALSE           FALSE       elma       campos      FALSE     4
9  FALSE           FALSE       emery      ruiz        FALSE     4
10 FALSE           FALSE       suzanne    nash        FALSE     4
11 FALSE           FALSE       staci      castaneda   FALSE     4
12 FALSE           FALSE       gilbert    maynard     FALSE     4
13 FALSE           FALSE       wilford    valencia    FALSE     4
14 FALSE            TRUE       owen       flores      FALSE     4
15 FALSE           FALSE       paulette   benton      FALSE     4
16 FALSE           FALSE       neva       conway      FALSE     4
17  TRUE           FALSE       cornelia   bradley     FALSE     6
18 FALSE           FALSE       gus        macdonald   FALSE     4
19 FALSE           FALSE       mattie     burris      FALSE     4
20  TRUE           FALSE       essie      lopez       FALSE     5
21 FALSE           FALSE       morton     pearson     FALSE     5
22 FALSE           FALSE       jolene     henry       FALSE     4
23 FALSE           FALSE       lavonne    dunlap      FALSE     4
24  TRUE           FALSE       charley    key         FALSE     6
25 FALSE           FALSE       thurman    osborne     FALSE     4
26 FALSE           FALSE       napoleon   gonzalez    FALSE     4
27 FALSE           FALSE       margaret   garrison    FALSE     4
28 FALSE           FALSE       lilian     gordon      FALSE     5
29 FALSE           FALSE       elisa      campbell    FALSE     4
30 FALSE           FALSE       roberto    torres      FALSE     4
31  TRUE           FALSE       mitch      ferguson    FALSE     6
   too_many_repeats
1  TRUE
2  TRUE
3  TRUE
4  TRUE
5  TRUE
6  TRUE
7  TRUE
8  TRUE
9  TRUE
10 TRUE
11 TRUE
12 TRUE
13 TRUE
14 TRUE
15 TRUE
16 TRUE
17 TRUE
18 TRUE
19 TRUE
20 TRUE
21 TRUE
22 TRUE
23 TRUE
24 TRUE
25 TRUE
26 TRUE
27 TRUE
28 TRUE
29 TRUE
30 TRUE
31 TRUE

# Flagging all bad passwords
Now we have implemented all the basic tests for bad passwords suggested by NIST Special Publication 800-63B! What's left is just to flag all bad passwords and maybe to send these users an e-mail that strongly suggests they change their password.

In [73]:
# Flagging all passwords that are bad
#users$bad_password <- ....
users <- users %>%
          mutate( bad_password = if_else(
            too_short == TRUE | common_password == TRUE | common_word == TRUE | uses_name == TRUE | too_many_repeats == TRUE, "yes", "no"
         ))
            
# Counting the number of bad passwords
users %>% count(bad_password)

# Looking at the first 100 bad passwords
bad_pwd_users <- users %>% filter(bad_password == "yes")
head(bad_pwd_users$password, 100)

  bad_password n
1 no           538
2 yes          444

  [1] "5278049"       "master"        "murphy"        "lwsves2"
  [5] "hubbard"       "310356"        "oZ4k0QE"       "chelsea"
  [9] "zvc1939"       "nickgd"        "cocacola"      "woodard"
 [13] "AJ9Da"         "ewokzs"        "YyGjz8E"       "reid"
 [17] "jOYZBs8"       "wwewwf1"       "225377"        "NdZ7E6"
 [21] "CQB3Z"         "diffo"         "123456789"     "y8uM7D6"
 [25] "mikeloo"       "golden"        "apr2502"       "jfasii"
 [29] "sanaang"       "jecarn"        "dakami"        "thx1138"
 [33] "midnight"      "7xFHcdy"       "dorian"        "2458098"
 [37] "mmommy22"      "hurley"        "UYHUGG"        "wishes"
 [41] "jake145"       "Oli#2b"        "monkey"        "shy!"
 [45] "chifito"       "123ASH"        "juliette"      "kokjoon"
 [49] "crystal"       "scanner"       "andrew"        "caleb"
 [53] "dreker"        "h3ZFd"         "replaced"      "buster"
 [57] "nu"            "ware"          "46ofus"        "rr55367"
 [61] "fastman"       "biodiversity"  "555555"        "lara"
 [65] "9786435"       "roland"        "gokuass"       "ov0moh"
 [69] "stefan"        "9812684"       "TIRO02"        "dixie"
 [73] "gtapbt"        "123654"        "1036900"       "flavor"
 [77] "FGPb9gX"       "vHO2y"         "10101971"      "precise"
 [81] "190664"        "4f3aRNG"       "austin"        "jtc123"
 [85] "eLvtn"         "122412"        "8309113"       "012227257"
 [89] "dillard"       "william"       "NCAA50"        "eddiestoocool"
 [93] "4101516"       "leyvi"         "ancan"         "blake"
 [97] "tdutza"        "framework"     "golfer"        "winter"

# Summary
In this notebook, we've implemented the password checks recommended by the NIST Special Publication 800-63B. It's certainly possible to better implement these checks, for example, by using a longer list of common passwords. Also note that the NIST checks in no way guarantee that a chosen password is good, just that it's not obviously bad.